  <mat-sidenav-container *ngIf="logged">
    <mat-sidenav #sidenav mode="side" >
      <div class="user-container" routerLink="user">
        <img class="user-image" src="https://i.imgur.com/Bpz9hzt.jpg" alt="user-image">
        <div class="">
          <h5>{{user.nikname}}</h5>
          <p>{{user.name}} {{user.surname}}</p>
        </div>
      </div>

      <hr>

      <ul>
        <li><a routerLink="home">🏠 Home</a></li>
        <li><a routerLink="completed">✅ Completati</a></li>
        <li><a routerLink="today">📆 Oggi</a></li>
      </ul>



      <hr>

      <ul>
        <li><a routerLink="">🏠 Home</a></li>
      </ul>



  <div class="logout">
    <hr>
    <ul>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>


    </mat-sidenav>

    <mat-sidenav-content>
    <mat-icon (click)="sidenav.toggle(); toggle()"> {{open? 'close_fullscreen' : 'open_in_full'}}</mat-icon>
    </mat-sidenav-content>
  </mat-sidenav-container>

