<main class="container-fluid">
  <div class="row ">
    <div class="col ps-0">
      <img src="intro.jpg" width="100%">
    </div>

<div class="col mt-4">
  <form>

    <h1>Ciao! Benvenuto su ToDo 👋🏻</h1>

    <mat-form-field appearance="outline">
    <mat-label for="mail">E-mail</mat-label>
    <input matInput id= "mail" name="mail" required>
    <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label for="password">Password</mat-label>
    <input  matInput id= "password" name="password" required>
    <mat-icon matSuffix>visibility</mat-icon>
    <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <button mat-flat-button type="submit">Login</button>

    <p>Non hai ancora un account? <a routerLink="register">Registrati</a> </p>

  </form>

</div>

  </div>
</main>
