<main class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-6 p-0 ps-md-0">
      <img src="intro.jpg" width="100%">
    </div>

    <div class="col-12 col-md-6 mt-4 form">
      <form [formGroup]="form" (ngSubmit)="login()">

        <h1>Ciao! Benvenuto su ToDo 👋🏻</h1>

        <!-- Campo Email -->
        <mat-form-field appearance="outline" >
          <mat-label for="email">E-mail</mat-label>
          <input matInput id="email" formControlName="email" required>
          <mat-error *ngIf="isInValidTouched('email')">Inserisci una email valida</mat-error>
        </mat-form-field>

        <!-- Campo Password -->
        <mat-form-field appearance="outline">
          <mat-label for="password">Password</mat-label>
          <input matInput id="password" formControlName="password" [type]="passwordVisible ? 'text' : 'password'" required>
            <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          <mat-error *ngIf="isInValidTouched('password')">Inserisci una password</mat-error>
        </mat-form-field>


        <button mat-flat-button type="submit">Login</button>

        <p>Non hai ancora un account? <a routerLink="register">Registrati</a> </p>

      </form>


    </div>

  </div>
</main>
