<main class="container-fluid">
  <div class="row">
    <div class="d-none d-md-block col-md-6 ps-0">
      <img src="intro.jpg" width="100%">
    </div>

    <div class="col mt-4 form">
      <a routerLink="" class="back-link">
        <mat-icon>arrow_back</mat-icon> torna al login
      </a>

      <form [formGroup]="form" (ngSubmit)="register()">

        <h1>Registrazione</h1>

        <div class="nameWrapper">
          <!-- Campo Nome -->
          <mat-form-field appearance="outline">
            <mat-label for="name">Nome</mat-label>
            <input matInput id="name" formControlName="name" required>
            <mat-error *ngIf="isInValidTouched('name')">Inserisci il nome</mat-error>
          </mat-form-field>

          <!-- Campo Cognome -->
          <mat-form-field appearance="outline">
            <mat-label for="surname">Cognome</mat-label>
            <input matInput id="surname" formControlName="surname" required>
            <mat-error *ngIf="isInValidTouched('surname')">Inserisci il cognome</mat-error>
          </mat-form-field>
        </div>

        <!-- Campo Email -->
        <mat-form-field appearance="outline">
          <mat-label for="email">E-mail</mat-label>
          <input matInput id="email" formControlName="email" required>
          <mat-error *ngIf="isInValidTouched('email')">Inserisci una email valida</mat-error>
        </mat-form-field>

        <!-- Campo Password -->
        <mat-form-field appearance="outline">
          <mat-label for="password">Password</mat-label>
          <input matInput id="password" formControlName="password" [type]="passwordVisible ? 'text' : 'password'" required>
          <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
          <mat-error *ngIf="isInValidTouched('password')">Inserisci una password</mat-error>
        </mat-form-field>

        <!-- Pulsante Submit -->
        <button mat-flat-button type="submit" [disabled]="form.invalid">Registrati</button>

      </form>

      <div class="success" *ngIf="registerok">
        <p>La registrazione è andata a buon fine!</p> <mat-icon class="check">check_circle</mat-icon>
      </div>
      <div class="failed" *ngIf="registerfalse">
        <p>La registrazione non è andata a buon fine</p> <mat-icon class="check">check_circle</mat-icon>
      </div>

    </div>
  </div>
</main>
