<main class="container-fluid">
  <div class="row">
    <div class="d-none d-md-block col-md-6 ps-0">
      <img src="intro.jpg" width="100%">
    </div>

<div class="col mt-4 form">
  <a routerLink="" class="back-link">
    <mat-icon>arrow_back</mat-icon> torna al login
  </a>

  <form>

    <h1>Registrazione</h1>

    <div class="nameWrapper">

      <mat-form-field appearance="outline">
        <mat-label for="name">Nome</mat-label>
        <input matInput id= "nome" name="nome" required>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label for="surname">Cognome</mat-label>
        <input matInput id= "nsurome" name="surnome" required>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

    </div>



    <mat-form-field appearance="outline" >
    <mat-label for="mail">E-mail</mat-label>
    <input matInput id= "mail" name="mail" required>
    <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label for="password">Password</mat-label>
    <input  matInput id= "password" name="password" required>
    <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <button mat-flat-button type="submit">Registrati</button>

  </form>

</div>

  </div>
</main>
