input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 1px solid #979797;
  border-radius: 4px;
  margin-right: 12px;
}
.Item{
  background-color: white;
  padding: 10px 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  justify-content: space-between;
  height: 100%;
}
.itemContainer{
  display: flex;
  align-items: center;

}
.itemCont{
  flex-direction: column;
  flex-shrink: 4;
}
.description{
  margin-left: 32px;
}
label{
  flex-shrink: 4;
}

.completed{
    text-decoration: line-through;
    color: grey;
}

input[type="checkbox"]:checked {
  background-color: green;
  border: 1px solid green;
}


input[type="checkbox"] {
  accent-color: rgb(21, 21, 21);
  color: white;
  font-size: 8px;
}


input[type="checkbox"] {
  color: white;
  font-size: 8px;
  width: 20px;
  height: 20px;
  border: 1px solid #979797;
  border-radius: 4px;
  margin-right: 12px;
  background-color: rgb(21, 21, 21);
}
.chip{
  background-color: antiquewhite;
  padding: 4px 8px;
  margin: 0;
  border-radius: 4px;
  font-size: 14px;
}

.today {
  color: #c1706f;
  background-color: #FEEDED;
}

.tomorrow {
  color: #cbab6f;
  background-color: #FEF7E9;
}
.general{
  color: #81b395;
  background-color: #EBF9F1 ;
}
.old{
  color:black;
  background-color: rgb(242, 242, 242);
}
